<div class="d-flex">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End Sidebar -->
    <div class="container">
        <div class="row p-3">
            <div class="col">
                <h5>Buscar:</h5>
                <input type="text" class="form-control" placeholder="Buscar giffs">
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed tempora molestias eligendi nobis recusandae accusamus quidem nisi excepturi aspernatur cumque voluptas quaerat nemo asperiores earum, at quas optio cupiditate dolorem!
            </div>
        </div>
    </div>

</div>